@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Rajdhani, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffecd9;
}

.App {
  grid-auto-columns: 1fr; 
  grid-template-rows: 0.1fr 1.8fr; 
  gap: 0em 0em; 
}
.main-content-display { grid-area: 2 / 1 / 3 / 2; }
.main-app-nav { grid-area: 1 / 1 / 2 / 2; }

@media(min-width:768px){
.App {
    grid-template-columns: auto 1.8fr; 
    grid-template-rows: 1fr; 
    gap: 0px 1em; 
    grid-template-areas: 
      "main-app-nav main-content-display"; 
  }

.main-content-display { grid-area: main-content-display }
.main-app-nav { grid-area: main-app-nav }

.nav-list {
  height:550px;
}
}


.nav-item a{
 color:black;
 font-family: Rajdhani;
 text-transform: uppercase;
}



/* desktop */
.line-inside-nav {
  display:none;
  width:2px;
  left:32.5px;
  bottom:-200px;
  height:170px;
}


.main-nav-border-line {
  width:1px;
  right: 10px;
  top:40px;
  height:93%;
  
  margin: 0 auto;
}


@media(min-width:768px){
  .line-inside-nav {
    display:block;
  }
}

.main-wrap {
  width:100%;

  max-width:1920px;
}

.home-main-div span {
  font-weight:500;
  color:black;
  
}

.home-text-area p {
  text-indent: 5px;
}


.page-loading {
  background-color:#1a1817;
}

.loading-text {
  transition:width 500ms ease-in-out;
  width:0%;
  
}

.loading-text:hover {
  width:100%;
}

.project-btn {
  position:relative;
}

.project-btn::before {
  position:absolute;
  content: '';
  width: 15px;
  height: 15px;
  border: 2px solid black;
  background: none;
  left:-2px;
  bottom:5px;
  z-index:3;
}

@media(min-width:768px){
  .project-btn::before{
    left:-20px;
  }
}


.project-btn.active-project-btn::before {
  background: black;
}







/* Project Section */
.project-list-wrap {
  overflow:scroll;              
  scrollbar-color:rgba(0, 0, 0, 0.062) #fff2e7;
  scrollbar-width:none;
}



@media(min-width:768px){
  .project-list-wrap {
    -webkit-mask-image: linear-gradient(to bottom,  black 20%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  }
  .project-name a::after {
    content:'';
    position:absolute;
    width:0%;
    height:3px;
    bottom:6px;
    left:0px;
    transition:width 200ms ease-in-out;
    background:black;
    }
    
  .project-name a:hover::after {
      width:110%;
  }
}


/* animations */

.title-header {
  animation:fadeSlideDown 1s forwards;

}
.project-list-item-wrap  {
  animation: fadeSlideUp 1s forwards;
}

.project-list-item-wrap li {
  animation: fadeSlideLeft 1s forwards;
}

.project-list-item-wrap ul {
  animation: fadeSlideRight 1s forwards;
}

.home-text-area {
  animation:fadeSlideUp 1s forwards;
}



@media(min-width:768px){

  .title-header {
    animation:fadeSlideRight 1s forwards;

  }
  .project-list-wrap {
    animation: fadeSlideUp 1s forwards;
 
  }
  
  .project-list-item-wrap li {
    animation: fadeSlideLeft 1s forwards;

  }
  
  .project-list-item-wrap ul {
    animation: fadeSlideRight 1s forwards;

  }

  .home-text-area {
    animation:fadeSlideLeft 1s forwards;
  }

  .home-title-header h1 {
    animation:fadeSlideDown 1s forwards;
  }

  .home-title-header p {
    animation:fadeSlideRight 1s forwards;
  }

}


@keyframes fadeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-50px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(50px); 
  }

  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

@keyframes fadeSlideRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(50px); 
  }
  100% {
    opacity: 1;
    transform: translateX(0); 
  }
}

